@use "variables"

.block, .lineBlock, .titleBlock
  margin-bottom: 20px
  background-color: white

.block, .lineBlock
  padding: 20px

.lineBlock
  border: solid 1px #ddd
  border-radius: 5px

.titleBlock
  margin: -20px
  margin-bottom: 20px
  padding: 20px
  border: solid 1px #ddd
  border-radius: 5px 5px 0 0
  letter-spacing: 1px
