@font-face
  font-family: '源石黑體'
  src: url('@/fonts/TW/GenSekiGothic2TW-B.woff2') format('woff2')
  font-weight: 700
  font-display: swap

@font-face
  font-family: '源石黑體'
  src: url('@/fonts/TW/GenSekiGothic2TW-H.woff2') format('woff2')
  font-weight: 900
  font-display: swap

@font-face
  font-family: '源石黑體'
  src: url('@/fonts/TW/GenSekiGothic2TW-L.woff2') format('woff2')
  font-weight: 300
  font-display: swap

@font-face
  font-family: '源石黑體'
  src: url('@/fonts/TW/GenSekiGothic2TW-M.woff2') format('woff2')
  font-weight: 500
  font-display: swap

@font-face
  font-family: '源石黑體'
  src: url('@/fonts/TW/GenSekiGothic2TW-R.woff2') format('woff2')
  font-weight: 400
  font-display: swap
