@use 'aStyle'

// 引用a樣式
=aStyle()
  a
    +aStyle.aStyle

// 仿104
=content104Style()
  border-radius: 4px
  box-shadow: 0 2px 6px rgba(black, .1)
  font-family: Arial, MsJhengHeiBold, 微軟正黑體, Microsoft JhengHei, Roboto, PingFangTC, sans-serif
