// tailwind spacing，例如p-5表示padding: calc(var(--spacing) * <number>)
$spacing: 0.25rem
=ml($n)
  margin-left: $spacing * $n

=mr($n)
  margin-right: $spacing * $n

=mt($n)
  margin-top: $spacing * $n

=mb($n)
  margin-bottom: $spacing * $n

=mx($n)
  margin-left: $spacing * $n
  margin-right: $spacing * $n

=my($n)
  margin-top: $spacing * $n
  margin-bottom: $spacing * $n

=m($n)
  margin: $spacing * $n

=pl($n)
  padding-left: $spacing * $n

=pr($n)
  padding-right: $spacing * $n

=pt($n)
  padding-top: $spacing * $n

=pb($n)
  padding-bottom: $spacing * $n

=px($n)
  padding-left: $spacing * $n
  padding-right: $spacing * $n

=py($n)
  padding-top: $spacing * $n
  padding-bottom: $spacing * $n

=p($n)
  padding: $spacing * $n

=t($n)
  top: $spacing * $n

=r($n)
  right: $spacing * $n

=b($n)
  bottom: $spacing * $n

=l($n)
  left: $spacing * $n
